p{
    animation: animation 5s;
    color: white;
    text-align: center;
    width: 80%;
    top: calc(50% - 40%);
    left: calc(50% - 40%);
    position: absolute;
    font-size: 150%;
    font-family: 'Scarlette', sans-serif;
}
.texto{
    color: gray;
    font-size: 50%;
    font-family: 'Cantata One', sans-serif;
}