@import url('https://fonts.cdnfonts.com/css/neobulletin-extruded');
@import url('https://fonts.cdnfonts.com/css/scarlette');
@import url('https://fonts.cdnfonts.com/css/cantata-one');
body{
    background-color: black;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 150%;
}
header{
    width: 100%;
    display: table;
}
header > *{
    display: table-cell;
    text-align: center;
}
header a{
    transition: 1s all;
    color: white;
    text-decoration: none;
    font-family: 'NeoBulletin Extruded', sans-serif;
}
header a:hover{
    color: red;
}
